.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainComponent {
    flex: 1;
}

.footer {
    padding: 15px 0;
    background-color: #e5e5e5;
}

.partnerLogo {
    margin: 7px;
}

.contactCol {
    text-align: end;
}

.footerIcon {
    margin-left: 8px;
    height: 20px;
    width: 20px;
}

.copyrightText {
    text-align: center;
}

.footerTitle {
    text-align: center;
    font-weight: bold;
}

.heroImg {
    height: 25rem;
    width: 30rem;
}

.heroTitleBox {
    display: flex;
    align-items: center;
}

.heroTitle {
    text-align: center;
    font-size: 75px;
    font-weight: 650;
}

.heroTitle p {
    margin: 0;
}

.newsContent {
    text-align: center;
}

.bloodStock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.bloodStock p {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
}

.circle {
    text-align: center;
    max-width: 50%;
}

.dot {
    height: 8rem;
    width: 8rem;
    background-color: rgb(211, 127, 127);
    border-radius: 50%;
    display: inline-block;
    margin: 12px;
}

.statistics {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.icon {
    height: 5rem;
    width: 5rem;
}

.statEle p {
    margin: 0;
}